/bin
/gen
.project
.settings
/local.properties
/target/

/.idea/
/build
/app/build
*.iml
.gradle
gradlew
gradlew.bat
gradle/caches/
gradle/.tmp/
gradle/daemon/
gradle/native/
gradle/wrapper/
!gradle-wrapper.properties
app/app-release.apk
custom.properties
sonarqube.properties
projectFilesBackup/
/sonarcloud
/captures/
